<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>dizzy-0000.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,573},{84,78}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{84,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{720,494},{86,78}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,14},{86,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{736,336},{90,76}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,16},{90,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,234},{94,76}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,16},{94,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{730,652},{88,76}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,16},{88,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{649,234},{88,76}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,15},{88,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,676},{90,76}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,15},{90,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,153},{92,78}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,13},{92,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,730},{94,78}}</string>
			<key>offset</key>
			<string>{0,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{94,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,392},{92,80}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,11},{92,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,473},{92,82}}</string>
			<key>offset</key>
			<string>{1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{92,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{366,562},{86,84}}</string>
			<key>offset</key>
			<string>{3,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,8},{86,84}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{277,589},{88,86}}</string>
			<key>offset</key>
			<string>{2,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,7},{88,86}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{444,390},{92,82}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,12},{92,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,479},{94,82}}</string>
			<key>offset</key>
			<string>{-1,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{94,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,311},{94,80}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{94,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{360,232},{96,78}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{96,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,153},{96,78}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,14},{96,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,151},{96,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,10},{96,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,91},{94,86}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,7},{94,86}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,0},{94,90}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,4},{94,90}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,727},{92,94}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{92,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,727},{92,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{92,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,630},{92,96}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{92,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,630},{90,96}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,0},{90,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,411},{86,96}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{86,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,314},{86,96}}</string>
			<key>offset</key>
			<string>{3,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,0},{86,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{171,508},{88,96}}</string>
			<key>offset</key>
			<string>{2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,0},{88,96}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{537,473},{90,82}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,5},{90,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,714},{88,80}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{88,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,257},{90,78}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,3},{90,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,401},{90,92}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,0},{90,92}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{258,306},{90,94}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,0},{90,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{184,605},{92,88}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{92,88}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,556},{90,82}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,9},{90,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,178},{90,78}}</string>
			<key>offset</key>
			<string>{0,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{90,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{260,494},{88,94}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,2},{88,94}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,694},{88,86}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,5},{88,86}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{719,413},{86,80}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,15},{86,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0039.png</key>
		<dict>
			<key>frame</key>
			<string>{{641,633},{88,80}}</string>
			<key>offset</key>
			<string>{-2,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,15},{88,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0040.png</key>
		<dict>
			<key>frame</key>
			<string>{{633,552},{86,80}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,14},{86,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0041.png</key>
		<dict>
			<key>frame</key>
			<string>{{647,311},{88,80}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{88,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0042.png</key>
		<dict>
			<key>frame</key>
			<string>{{630,392},{88,80}}</string>
			<key>offset</key>
			<string>{-3,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{88,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0043.png</key>
		<dict>
			<key>frame</key>
			<string>{{628,473},{90,78}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,15},{90,78}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0044.png</key>
		<dict>
			<key>frame</key>
			<string>{{463,720},{90,80}}</string>
			<key>offset</key>
			<string>{0,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{90,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0045.png</key>
		<dict>
			<key>frame</key>
			<string>{{544,556},{88,82}}</string>
			<key>offset</key>
			<string>{-3,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,13},{88,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0046.png</key>
		<dict>
			<key>frame</key>
			<string>{{461,639},{90,80}}</string>
			<key>offset</key>
			<string>{1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{4,14},{90,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0047.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,720},{86,80}}</string>
			<key>offset</key>
			<string>{2,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{7,14},{86,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0048.png</key>
		<dict>
			<key>frame</key>
			<string>{{552,639},{88,80}}</string>
			<key>offset</key>
			<string>{-1,-6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,14},{88,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0049.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,479},{170,150}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,32},{170,150}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0050.png</key>
		<dict>
			<key>frame</key>
			<string>{{183,157},{176,148}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{8,32},{176,148}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0051.png</key>
		<dict>
			<key>frame</key>
			<string>{{551,0},{182,150}}</string>
			<key>offset</key>
			<string>{0,-8}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,29},{182,150}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0052.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,159},{182,154}}</string>
			<key>offset</key>
			<string>{0,-7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,26},{182,154}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0053.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,314},{170,164}}</string>
			<key>offset</key>
			<string>{4,-5}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{15,19},{170,164}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0054.png</key>
		<dict>
			<key>frame</key>
			<string>{{0,0},{180,158}}</string>
			<key>offset</key>
			<string>{0,-11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{6,28},{180,158}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0055.png</key>
		<dict>
			<key>frame</key>
			<string>{{181,0},{182,156}}</string>
			<key>offset</key>
			<string>{0,-10}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{5,28},{182,156}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0056.png</key>
		<dict>
			<key>frame</key>
			<string>{{364,0},{186,152}}</string>
			<key>offset</key>
			<string>{-1,-9}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,29},{186,152}}</string>
			<key>sourceSize</key>
			<string>{192,192}</string>
		</dict>
		<key>dizzy-0057.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,232},{96,76}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,12},{96,76}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0058.png</key>
		<dict>
			<key>frame</key>
			<string>{{457,309},{94,80}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{94,80}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0059.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,396},{94,82}}</string>
			<key>offset</key>
			<string>{0,2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,5},{94,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0060.png</key>
		<dict>
			<key>frame</key>
			<string>{{349,311},{94,84}}</string>
			<key>offset</key>
			<string>{-1,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,8},{94,84}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
		<key>dizzy-0061.png</key>
		<dict>
			<key>frame</key>
			<string>{{368,647},{92,82}}</string>
			<key>offset</key>
			<string>{0,-3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,10},{92,82}}</string>
			<key>sourceSize</key>
			<string>{96,96}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>character.png</string>
		<key>size</key>
		<string>{828,828}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:68d0b86cfb5bb512b19baee1d4b72d26:9714178b33426e6c5396cee3f717ed52:6c5d9eab88621fd9363069655d5d5852$</string>
		<key>textureFileName</key>
		<string>character.png</string>
	</dict>
</dict>
</plist>
