<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>牛牛勤工助学，外出做家教取得2000元劳动报酬，需要按照什么项目缴纳个人所得税？</string>
		<key>options</key>
		<array>
			<string>A、工资薪金所得</string>
			<string>B、劳务报酬所得</string>
			<string>C、偶然所得</string>
			<string>D、财产转让所得</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>牛牛的妈妈每月工资6000元，是否要缴纳个人所得税？</string>
		<key>options</key>
		<array>
			<string>A、要</string>
			<string>B、不要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>过年了，牛牛爸爸单位发放购物礼品卡，是否要缴纳个人所得税？</string>
		<key>options</key>
		<array>
			<string>A、要</string>
			<string>B、不要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>1</integer>
		<key>question</key>
		<string>牛牛爸爸一年收入超过多少，就需要自行申报缴纳个人所得税？</string>
		<key>options</key>
		<array>
			<string>A、10万元</string>
			<string>B、11万元</string>
			<string>C、12万元</string>
			<string>D、13万元</string>
		</array>
		<key>answer</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>2</integer>
		<key>question</key>
		<string>企业所得税的征税对象是对（  ）征收。</string>
		<key>options</key>
		<array>
			<string>A、成本</string>
			<string>B、所得</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>3</integer>
		<key>question</key>
		<string>牛牛和爸爸妈妈在深圳一家餐厅吃饭，有奖发票刮奖的最高奖金是（  ）。</string>
		<key>options</key>
		<array>
			<string>A、10万元</string>
			<string>B、20万元</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>4</integer>
		<key>question</key>
		<string>城建税是随增值税、消费税、营业税“三税”同时附征的税。</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、否</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>7</integer>
		<key>question</key>
		<string>牛牛的叔叔将房屋出租需要缴纳房产税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>7</integer>
		<key>question</key>
		<string>牛牛家自己居住的房屋需要缴纳房产税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>7</integer>
		<key>question</key>
		<string>牛牛的叔叔出租房屋的房产税是根据（  ）来计算的。</string>
		<key>options</key>
		<array>
			<string>A、租金收入</string>
			<string>B、房产售价</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>7</integer>
		<key>question</key>
		<string>牛牛所在学校自用的房产（  ）缴纳房产税。</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>8</integer>
		<key>question</key>
		<string>牛牛爸爸向朋友购买了一套房子，由（  ）缴纳契税。</string>
		<key>options</key>
		<array>
			<string>A、牛牛爸爸</string>
			<string>B、朋友</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>8</integer>
		<key>question</key>
		<string>契税的应纳税额是根据（  ）计算的。</string>
		<key>options</key>
		<array>
			<string>A、成交价</string>
			<string>B、原价</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>8</integer>
		<key>question</key>
		<string>如果牛牛爸爸购买的是家庭的唯一住房，可以减免契税吗？</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不可以</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>8</integer>
		<key>question</key>
		<string>爸爸的房产证上加上妈妈的名字，需要交契税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>8</integer>
		<key>question</key>
		<string>爸爸的房产赠送给牛牛，需要交契税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>question</key>
		<string>牛牛的妈妈拥有一辆摩托车，她需要缴纳车船税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>question</key>
		<string>牛牛的叔叔拥有一艘游艇，他需要缴纳车船税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>question</key>
		<string>牛牛爸爸想买一辆新能源车，可以免征或者减半征收车船税吗？</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不可以</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>question</key>
		<string>警用车船需要缴纳车船税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>6</integer>
		<key>question</key>
		<string>乘用车的排气量越大，车船税就要缴纳（  ）。</string>
		<key>options</key>
		<array>
			<string>A、越多</string>
			<string>B、越少</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>question</key>
		<string>下列哪项属于印花税的征税范围（  ）。</string>
		<key>options</key>
		<array>
			<string>A、牛牛的身份证</string>
			<string>B、牛牛家房产的产权证</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>question</key>
		<string>牛牛的叔叔将个人财产赠与学校所签订的合同，免征印花税吗？</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、否</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>question</key>
		<string>牛牛的叔叔将财产赠与朋友所签订的合同，需要缴纳印花税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>question</key>
		<string>印花税票（  ）以人民币为单位的</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、不是</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>5</integer>
		<key>question</key>
		<string>如果多贴了印花税票，（  ）申请退税。</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不可以</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>9</integer>
		<key>question</key>
		<string>牛牛家居住的房屋需要缴纳城镇土地使用税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>9</integer>
		<key>question</key>
		<string>牛牛学校的用地可以免征城镇土地使用税吗？</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不能</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>10</integer>
		<key>question</key>
		<string>牛牛的叔叔出租房产或销售住房需要缴纳土地增值税吗？</string>
		<key>options</key>
		<array>
			<string>A、需要</string>
			<string>B、不需要</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>税务局为纳税人提供纳税咨询服务是（  ）。</string>
		<key>options</key>
		<array>
			<string>A、收费的</string>
			<string>B、免费的</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>牛牛爸爸在进行纳税申报时，必须本人亲自申报吗？</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、否</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>牛牛爸爸在进行纳税申报时，可以采取邮寄申报的方式吗？</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不可以</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>国家向纳税人收税是（  ）。</string>
		<key>options</key>
		<array>
			<string>A、无偿的</string>
			<string>B、有偿的</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>如果没有税收，政府机关能正常运转吗？</string>
		<key>options</key>
		<array>
			<string>A、能</string>
			<string>B、不能</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>牛牛爸爸买了一台新电脑，商家拒绝向他开具发票（  ）违法行为。</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、不是</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>按照税种的不同，可以将发票分为增值税发票和普通发票。</string>
		<key>options</key>
		<array>
			<string>A、是</string>
			<string>B、否</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>牛牛爸爸的公司（  ）转借、转让发票给牛牛叔叔的公司。</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不能</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>目前我国负责税收征管的主要政府机关是各地的（  ）。</string>
		<key>options</key>
		<array>
			<string>A、国家税务局</string>
			<string>B、地方税务局</string>
			<string>C、国家税务局和地方税务局</string>
		</array>
		<key>answer</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>牛牛的叔叔要开办一家企业，就需要在规定的时间内到（  ）办理税务登记手续。</string>
		<key>options</key>
		<array>
			<string>A、税务局</string>
			<string>B、工商局</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>税务机关可以不经纳税人申报，直接到纳税人的银行账号里扣款收税吗？</string>
		<key>options</key>
		<array>
			<string>A、可以</string>
			<string>B、不能</string>
		</array>
		<key>answer</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>type</key>
		<integer>11</integer>
		<key>question</key>
		<string>纳税人对税务机关作出的处罚，（  ）上诉的权利。</string>
		<key>options</key>
		<array>
			<string>A、有</string>
			<string>B、没有</string>
		</array>
		<key>answer</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
